%h2 
  Friendly Reminder

-if @blocks.count == 1
  You have a block that needs attention.  
-else
  ="You have #{@blocks.count} blocks that need attention."

%br
%ul
  -@blocks.each do |block|
    -if block.last_cleaned.nil?
      %ul 
        ="#{block.name} has not been cleaned in at least 10 days."
    -else
      %ul
        ="#{block.name} was last #{block.days_since_cleaned}."     
    %ul  
      =link_to "#{block_url(block)}#cleanModal", method: :post do
        Click HERE to mark this block as clean.
    %br

%h4
  ="Thanks for making your neighborhood a better place to live."

%h5
  = link_to "Click here to unsubscribe from these emails", "#{toggle_reminders_user_url(@user)}"
