%div.backgroundImg
  %h1.text-center
    %br
    =@block.name
  -if current_user and current_user.admin
    .row
      .col-md-4
      .col-md-4.text-center
        =link_to edit_block_path(@block) do
          %i.fa.fa-edit
          Edit Block
  %h3.text-center
    =@block.description
  -if @block.user
    %h5.text-center
      ="This block has been adopted by "
      =mail_to @block.user.email,  "#{@block.user.name}"
      =" until #{@block.end_of_adoption.strftime('%b %e')}."

    // Clean Button
    %br
    .row
      .col-md-12.text-center
        =render partial: 'clean_modal'
        %button.btn.btn-lg.btn-info{"data-target" => "#cleanModal", "data-toggle" => "modal", type: "button"} I Cleaned this Block
    %br

  -else
    // Clean Button
    %br
    .row
      .col-md-6.text-right
        =render partial: 'clean_modal'
        %button.btn.btn-lg.btn-info{"data-target" => "#cleanModal", "data-toggle" => "modal", type: "button"} I Cleaned this Block
      .col-md-6.text-left
        =render partial: 'adopt_modal'
        %button.btn.btn-lg.btn-info{"data-target" => "#adoptModal", "data-toggle" => "modal", type: "button"} Adopt this Block
    %br


  // Drop Block Button
  -if current_user and current_user == @block.user
    .row
      .col-md-12.text-center
        =render partial: 'drop_modal'
        %button.btn.btn-sm.btn-danger{"data-target" => "#dropModal", "data-toggle" => "modal", type: "button"} Un-Adopt this Block
    %br

= content_tag "div", id: "map", data: {polyline: @block.polyline, color: @block.color, center: @block.center} do
  Loading map...

-if @block.cleanings.count >0 
  .row.text-center
    %h2
      Activity on this Block
    .col-md-1
    .col-md-10
      -@block.cleanings.order(time: :desc).each do |cleaning|
        %hr
        %h4
          -if cleaning.editable?
            =link_to edit_cleaning_path(cleaning) do
              %i.fa.fa-edit
          ="Block cleaned on #{cleaning.time.strftime("%a %b %e, %Y")}"
        .row
          .col-md-3
          .col-md-6
            =cleaning.note

        =render partial: 'cleaning_photos', locals: {cleaning: cleaning}
        .row
          .col-md-2
          .col-md-8
            =render partial: 'shared/comments', locals: {cleaning: cleaning}


-else
  .row.text-center
    %h2
      There is no recorded activity on this block.


%meta{content: "initial-scale=1.0, user-scalable=no", name: "viewport"}/

:css
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 50%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

:javascript
  // This example creates a 2-pixel-wide red polyline showing the path of
  // the first trans-Pacific flight between Oakland, CA, and Brisbane,
  // Australia which was made by Charles Kingsford Smith.

  function initMap() {
    var polyline = $('#map').data('polyline');
    var color = $('#map').data('color');
    var center = $('#map').data('center');

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: center,
      mapTypeId: 'roadmap'
    });


    var new_line = new google.maps.Polyline({
      path: polyline,
      geodesic: true,
      strokeColor: color,
      strokeOpacity: .5,
      strokeWeight: 8
    });

    new_line.setMap(map);

  }

%script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=#{Config.google_maps_api_key}&callback=initMap"}
  :cdata