.row.text-center
  .col-md-12
    %h4.text-center
      ="#{@neighborhood.name} has #{@blocks.count} blocks."  
    %h4.text-center
      ="These #{@blocks.count} blocks have been cleaned #{@neighborhood.cleanings.count} times."

.row
  .col-md-5

    %h2.text-center Adopted Blocks
    -@neighborhood.blocks.adopted.each do |block|
      .row.text-center
        =link_to admin_block_path(block) do
          =block.name

    %h2.text-center Blocks Needing Adoption
    -@neighborhood.blocks.orphaned.each do |block|
      .row.text-center
        =link_to admin_block_path(block) do 
          =block.name


  .col-md-7
    .row
      .col-md-1
      .col-md-10
        %h2.text-center
          Recent Activity
        -@neighborhood.cleanings.order(time: :desc).limit(10).each do |cleaning|
          %h4.text-center
            =link_to admin_block_path(cleaning.block) do 
              =cleaning.block.name
            ="was #{cleaning.days_since_cleaned.downcase}."
          .text-center
            =cleaning.note
            =link_to admin_block_path(cleaning.block) do 
              =render partial: 'admin/blocks/cleaning_photos', locals: {cleaning: cleaning}
          %hr


       