.row.text-center
  .col-md-12
    %h4.text-center
      ="The #{@blocks.count} blocks in #{@neighborhood.name} have been cleaned #{@neighborhood.cleanings.count} times."
.row.text-center
  =render partial: 'charts'

.row.grey-background

  // Status of Blocks
  .col-md-5

    %h2.text-center Adopted Blocks
    -@neighborhood.blocks.order_by_name.adopted.each do |block|
      .row.text-center
        =link_to block_path(block) do
          %h4
            =block.name
          .div.fine-print
            ="Adopted by #{block.user.name}"
          %br

    %h2.text-center Blocks Needing Adoption
    -@neighborhood.blocks.order_by_name.orphaned.each do |block|
      .row.text-center
        =link_to block_path(block) do 
          =block.name


  // Recent Activity
  .col-md-7
    .row
      .col-md-1
      .col-md-10
        %h2.text-center
          Recent Activity
        -@neighborhood.cleanings.order(time: :desc).limit(35).each do |cleaning|
          %h4.text-center
            =link_to block_path(cleaning.block) do 
              =cleaning.block.name
            ="was #{cleaning.days_since_cleaned.downcase}."
          .text-center
            =cleaning.note
            =link_to block_path(cleaning.block) do 
              =render partial: 'blocks/cleaning_photos', locals: {cleaning: cleaning}
          -cleaning.comments.each do |comment|
            .row
              .col-md-1
              .col-md-10
                .well.text-center
                  =comment.message


          %hr{style: "border-color:gray;", width:"50%"}




       