<!DOCTYPE html>
<html>
  <head>
    <title>AdoptABlock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAV MENU -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <% if @cleaning %>
          <a href=<%= root_path%>><i class="navbar-brand fa fa-home"></i></a>
          <a class="navbar-brand" href=<%= admin_neighborhood_path(@cleaning.block.neighborhood)%>> <%=@cleaning.block.neighborhood.name%> </a>
          <a class="navbar-brand" href=<%= admin_block_path(@cleaning.block)%>> <%=@cleaning.block.name%> </a>
        <% elsif @block %>
          <a href=<%= root_path%>><i class="navbar-brand fa fa-home"></i></a>
          <a class="navbar-brand" href=<%= admin_neighborhood_path(@block.neighborhood)%>> <%=@block.neighborhood.name%> </a>
        <% else %>
          <a href=<%= root_path%>><i class="navbar-brand fa fa-home"></i></a>
        <% end %>

      </div><!-- /.container-fluid -->
    </nav>
    <!-- NAV MENU -->
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
